<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key ="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
<connectionStrings>
    <add name="Pubs" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|pubs.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NorthwindConnectionString" connectionString="Data Source=johnson.usu.edu;Initial Catalog=Northwind;User ID=Northwind_user;Password=northwind" providerName="System.Data.SqlClient" />
</connectionStrings>
  <system.web>
        <compilation debug="false" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    <!--<pages theme="Summer"></pages>-->
    </system.web>

</configuration>

